.recipe {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  background: white;
  border-radius: 25px;
  max-width: 250px;
  min-height: 340px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-content: space-between;
  position: relative;
}

.recipeList {
  list-style-type: none;
}
.btn {
  color: white;
  padding: 10px 100px;
  background-image: linear-gradient(120deg, #76b852 0%, #8dc26f 100%);
  display: inline-block;
  text-decoration: none;
  border-radius: 0px 0px 25px 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* .imgWrapper:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */
.img {
  border-radius: 25px 25px 0px 0px;
  width: 250px;
  height: 250px;
}
.titleWrapper {
  position: relative;
}
.title {
  width: 200px;
  font-family: "roboto";
  color: black;
  font-size: 1rem;
  font-weight: 300;
}

ol li {
  font-size: 10px;
}
