@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,900");
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

html {
  background-color: #f1f1f1;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.navbar {
  height: 10vh;
  padding: 3px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.nav-wrapper {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-bar {
  background-color: transparent;
  color: black;
  border: none;
  width: 160px;
  height: 30px;
  font-family: "open sans";
}

.search-form {
  width: 12vw;
  width: 200px;
  height: 30px;
  border-radius: 200px;
  background: white;
  position: relative;
  -webkit-box-shadow: 0px 20px 24px -22px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 20px 24px -22px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 20px 24px -22px rgba(0, 0, 0, 0.23);
}

.search-button {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  width: 28px;
  height: 28px;
  border-radius: 200px;
  display: inline-block;
  position: absolute;
  right: 1px;
  top: 1px;
  cursor: pointer;
  border: none;
}
i {
  color: white;
}
button,
input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  width: 700px;
}
